body {
    background: darkblue;
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
}

em {
    color:gold;
}

#Q {
    background:lightgrey;
    padding: 1em;
    border-radius: 1em;
    border-style: groove;
    border-color: antiquewhite
}

#A {
    margin: 1em; 
    border:blue;
    font-size: 50px;
}

[contenteditable]:focus {
outline: none;
}